.proyects {
  padding: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #5caec1;
}
.cardContain {
  display: flex;
  flex-direction: column;
}
.cardShow {
  background-color: #934d91;
  border: 4px solid #ffffff;
  border-radius: 7px;
  width: 735px;
  height: 735px;
  margin-left: 20px;
}
